<div id="login_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form style="margin-bottom: 0px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body row">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-md-10">
                        <div ng-include src="'partials/forms/login.html'"></div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>