<div ng-controller="externalProfileCtrl">
    <legend>外站信息</legend>
    <div style="padding-bottom: 10px">
        <span class="{{messageClass}}">{{message}}</span>
    </div>
    <table style="width: 100%">
        <tr ng-repeat="site in user.external.sites">
            <td  style="width: 70px">{{site.displayName}}</td>
            <td style="width: 10%"><img src="img/logo/{{site.name}}.png" class="external_logo"/></td>
            <td><input class="input-block-level" type="text" placeholder="{{site.displayName}}" ng-model="site.url"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="#" class="button button-small button-rounded button-flat-action action-button pull-right"
                   onclick="return false;" ng-click="saveProfile()">
                    <span>保存信息</span>
                </a>
            </td>
        </tr>
    </table>
    <div>

    </div>
</div>