<div ng-controller="externalProfileCtrl">
    <legend>外站信息</legend>
    <div style="padding-bottom: 10px">
        <span class="{{messageClass}}">{{message}}</span>
    </div>
    <form name="external" style="padding-left: 30px">
        <div  class="text-warning" style="padding-left: 100px;padding-bottom: 10px">
            <span class="error"
                   ng-show="external.$invalid">
                请输入正确的网址
            </span>
        </div>
    <table style="width: 100%">
        <tr ng-repeat="site in userExternal.sites">
            <td><img src="img/logo/{{site.name}}.png" class="external_logo"/></td>
            <td>
                <input class="input-block-level" name="{{site.displayName}}" type="url" placeholder="{{site.displayName}}" ng-model="site.url">
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>
                <button class="button button-small button-rounded button-flat-action action-button"    ng-disabled="external.$invalid"
                   onclick="return false;" ng-click="saveProfile()">
                    <span>保存信息</span>
                </button>
            </td>
        </tr>
    </table>
     </form>
    <div>

    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>