<div class="affix" style="font-size: 15px">
    <ul class="nav nav-pills nav-stacked">
        <li>
        <a href="#" onclick="return false;" ng-click="jumpTo('basicProfile')"  style="width: 100%">
            基本信息</i>

        </a>
        </li>

        <li>
        <a href="#" onclick="return false;" ng-click="jumpTo('externalProfile')" style="width: 100%">
            外站信息</i>
        </a>
        </li>

        <li>
        <a href="#" onclick="return false;" ng-click="jumpTo('secureManagement')" style="width: 100%">
            安全管理</i>
        </a>
        </li>
    </ul>
</div>
<ng-include src="'partials/footer.html'"></ng-include>