/* app css stylesheet */
.hide {
    display:none;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.sound_art{

  vertical-align:middle;
}

.sound_player {
  height: 100%;
}

.sound_player_header {
    height: 25%;
    width: 100%;
}

.sound_player_body {
    height: 45%
}

.sound_player_footer{
    padding-top: 15px;
}

.sound_player_wave {
    height: 100%;
    width:100%;
}

.sound_cover{
    text-align:center;
    vertical-align:middle;
}

.poster_img {
   height: 75%;
   width: 75%;
   margin:0 auto;
   padding-top: 20px;
}

.sound_player_control{
    padding-top:10px;
    float: left;
    text-align:center;
    vertical-align:middle;
}

icon-step-backward.sound_player_button{
    /*position:relative;*/
    top: 30%;
}

.sound_owner{
    font-family:Interstate, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda, Verdana, Tahoma, sans-serif;
    font-size: 11px;
}

.sound_title{
    font-family: Interstate, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda, Verdana, Tahoma, sans-serif;
    font-size: 13px;
}

.sound_item {
    height: 160px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom:  10px;
}

.sound_single_item {
    height: 230px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom:  20px;
}

.iframe_player{
    height: 100%;
}

.action-button {
    margin-left:4px
}

.stat_icon {
    margin-right:6px
}

.ul-nostyle{
    list-style: none;
    margin: 0;
}

.border-light-top{
    border-top: 1px solid #f2f2f2;
}

.border-light-bottom-nopadding{
    border-bottom: 1px solid #f2f2f2;
}

.border-light-bottom{
    padding-bottom: 8px;
    border-bottom: 1px solid #f2f2f2;
}

.comment_body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow:hidden
}

.userInfo__title{
    color: #06C;
    font-size: 24px;
    margin-top: 20px;
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
}

.upload_container{
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.upload_div{
    margin: 70px 0 70px;
    -webkit-transition: margin .3s cubic-bezier(.175,.885,.32,1.275);
    -moz-transition: margin .3s cubic-bezier(.175,.885,.32,1.275);
    -o-transition: margin .3s cubic-bezier(.175,.885,.32,1.275);
    transition: margin .3s cubic-bezier(.175,.885,.32,1.275);
}

.external_logo{
    width: 30px;
    height: 30px
}

.gray{
    color: gray;
}

.green{
    color: green;
}

.user:hover
{
    border:1px solid dodgerblue;
}

.user_selected{border:3px solid dodgerblue}

input.ng-dirty.ng-invalid {
    border: 1px solid darkred;
}

input.ng-dirty.ng-valid {
    border: 1px solid green;
}

.tags {
    margin: 0;
    padding: 0;
    right: 24px;
    bottom: -12px;
    list-style: none;
}

.tags li, .tags a{
    height:20px;
    line-height:20px;
    position:relative;
    font-size:8px;
}

.tags a{
    margin-left:20px;
    padding:2px 10px 3px 12px;
    background:#9E9E9E;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}

.tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-10px;
    width:0;
    height:0;
    border-color:transparent #9E9E9E transparent transparent;
    border-style:solid;
    border-width:10px 10px 10px 0;
}

.tags a:after{
    content:"";
    position:absolute;
    top:8px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}

.tags a:hover{background:#555;}

.tags a:hover:before{border-color:transparent #555 transparent transparent;}

.tip {
    border-color: rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
    width: 500px
}

.tip .qtip-content{
    font-size: 9px;
}


/* back to top icon*/
#back_top {
    position: fixed;
    bottom: 50px;
    right: 100px;
}

#back_top a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back_top a:hover {
}

/* arrow icon (span tag) */
#back_top span {
    width: 50px;
    height: 50px;
    display: block;

    -moz-opacity: 0.60;
    opacity: 0.60;
    filter: alpha(opacity=60);

    margin-bottom: 7px;
    background: #FFFFFF url(../img/up-arrow.png) no-repeat center center;

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back_top a:hover span {
    background-color: #EBEBEB;
    background-color: #FFFFFF\9;
    *background-color: #FFFFFF;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

.external-logo i{
    color:#808080;
}

.external-logo:hover i{
    color:#262626;
}

.qq_login_log {
    width: 28px;
    height: 29px;
    margin-bottom: -5px
}

.external-logo svg g path {
    fill:#808080;
}

.external-logo svg:hover g path {
    fill:#262626;
}

.player_even{
    background-color: #f9f9f9;
}

.player_odd {
     background-color: white;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.message_class {
    padding: 10px 40px;
    margin: 0 0 20px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.message_left {
    border-left: 5px solid #eeeeee;
    padding-bottom: 10px
}

.message_right {
    border-right: 5px solid #eeeeee;
    padding-bottom: 10px
}

.user_alias {
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
}

.user_avatar_circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user_avatar_oval {
    -webkit-border-radius: 30%;
    border-radius: 30%;
}