/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.sound_art{
  width: 14%;
  float:left;
  text-align:center;
  vertical-align:middle;
}

.sound_player {
  height: 120px;
  width: 86%;
  float:left;
}

.sound_player_header {
    height: 45px
}

.sound_player_body {
    height: 110px
}

.sound_player_wave {
    height: 75px;
    width:98%
}

.sound_cover{
    text-align:center;
    vertical-align:middle;
}

.poster_img {
   height: 75%;
   width: 75%;
   margin:0 auto;
}

.sound_player_control{
    height: 100%;
    width:4%;
    float: left;
    text-align:center;
    vertical-align:middle;
}

.sound_player_button{
    position:relative;
    top: 30%;
}

.sound_owner{
    font-family:Interstate, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda, Verdana, Tahoma, sans-serif;
    font-size: 14px;
}

.sound_title{
    font-family: Interstate, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda, Verdana, Tahoma, sans-serif;
    font-size: 16px;
}