<ng-include src="'partials/header.html'"></ng-include>

<div  class="container">
    <div style="padding-bottom: 30px">
        <legend>Wooice版权保护指导</legend>
        作为音乐创作者的平台，Wooice希望每一位用户都能尊重他人的版权。如果您发现Wooice平台中有内容侵犯了您的版权，请<a href="#/infringement">举报侵权</a>
        <ul>
            <li><a href="#/copyright/#whats-copyright">什么是版权？</a></li>
            <li><a href="#/copyright#copyright-detial">版权有哪些权利？</a></li>
            <li><a href="#/copyright#infringement">什么是版权侵权？</a></li>
            <li><a href="#/copyright#wooice-copyright">Wooice的版权保护</a></li>
            <li><a href="#/copyright#whats-copyright">更多信息</a></li>
        </ul>
        <span style="color: gray;font-size: 9px">声明: 本页内容介绍了基本的版权知识，但并非专业的法律指导。任何关于版权的具体问题，请咨询相关法律部门或律师。</span>
    </div>

    <div style="padding-bottom: 30px">
        <p name="whats-copyright" style="font-size: 22px">什么是版权？</p>

        <p style="font-size: 14px">
            版权是用来表述创作者因其文学和艺术作品而享有的权利的一个法律用语。受版权保护的作品的种类有：文学作品，例如小说、诗歌、戏剧、参考作品、报纸和计算机程序；数据库；电影、音乐作品和舞蹈；艺术作品，例如油画、素描、摄影和雕塑；建筑作品；以及广告、地图和技术制图。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="copyright-detial" style="font-size: 22px">版权有哪些权利？</p>

        <p style="font-size: 14px">受版权保护的作品的原创作者及其继承人享有若干项基本权利。他们享有使用、或根据议定的条件许可他人使用其作品的专有权。作品的创作者可以禁止或许可：</p>

        <p style="font-size: 14px">
            以各种形式对该作品进行复制，例如印刷品或录音；对其进行公开表演，例如以戏剧或音乐作品的形式；将其加以录制，例如以光盘、磁盘或录像带的形式；通过无线电、有线或卫星的手段对其进行广播；将其翻译成其他语文，或对其加以改编，例如将小说改编成影视剧本。</p>

        <p style="font-size: 14px">
            受版权保护的许多创作性作品需要进行大量发行、传播和财政投资才能得到推广（例如：出版物、录音制品和电影）；因此，创作者常常将其对作品享有的权利出售给最有能力推销作品的个人或公司，以获得报酬，这种报酬经常是在实际使用作品时才支付，因此被称作版税。</p>

        <p style="font-size: 14px">
            这些经济权是有时限的，根据世界知识产权组织有关条约，该时限为创作者死后50年。国内法可规定更长的时限。这种时间上的限制使得创作者及其继承人能在一段合理的时期内获得经济上的收益。版权保护还包括精神权，涉及表明作品的作者身份的权利，以及反对对作品进行可能有损于创作者声誉的修改的权利。</p>

        <p style="font-size: 14px">
            创作者--即对某作品享有版权的权利人--可通过行政手段或通过法院用检查房屋以查找生产或拥有非法制作的--"盗版的"--与受保护作品有关的物品的证据的方式实施权利。权利人还可要求法院发出制止这些非法活动的命令，并可要求得到补偿其在经济报酬和得到承认方面所受损失的损害赔偿费。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="infringement" style="font-size: 22px">什么是版权侵权？</p>

        <p style="font-size: 14px">在未经版权所有人授权的情况下对版权作品的使用都有可能造成版权侵权-例如复制，上传到互联网等。避免侵权最为有效和简单的方式就是确保不要使用任何他人的作品。
            如果您使用他人的作品，请确保您已获得必要的授权，如付费的授权证书等形式。如果您对您的行为是否侵权存在疑虑，如您仅使用某件作品中的一小部分，请咨询法律部门了解详情。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="wooice-copyright" style="font-size: 22px">Wooice的版权保护</p>

        <p style="font-size: 14px">由于版权保护相关的法律法规非常复杂，如果您有任何疑虑，请咨询相关法律部门或律师，特别是在上传音乐或维护版权之前。
            Wooice列出了一些通用的事项来帮助您做出基本的判断：</p>

        <div>
            <p style="font-size: 14px">音乐上传前请确认：</p>

            <p>您是否能对下列问题回答“是”？</p>
            <ul>
                <li>您是音乐的曲作者吗？</li>
                <li>您是音乐的词作者吗？</li>
                <li>您是否录制或制作了该作品，或您是否得到了该音乐的制作人或唱片公司的允许？</li>
                <li>您是否得到了版权所有者的书面授权？</li>
            </ul>
        </div>

        <div>
            <p style="font-size: 14px">对于其他声音，如播客， 声音小说或语音信息：</p>

            <p>您是否能对下列问题回答“是”？</p>
            <ul>
                <li>您是作品的表演者吗？</li>
                <li>您是作品的录制者吗？</li>
                <li>您是否已取得其他录制参与者的允许？</li>
            </ul>
            <p>您是否能对下列问题回答“不是”？</p>
            <ul>
                <li>您的作品是否含有非您创作的戏曲脚本，书籍作品的背诵，陈述内容？</li>
                <li>您的作品中是否含有未经授权的音乐等？</li>
            </ul>
        </div>
    </div>

    <div>
        <p name="wooice-copyright" style="font-size: 22px">更多信息</p>

        <p>中国国家版权机构信息：</p>

        <p><a href="http://www.wipo.int/directory/en/contact.jsp?country_id=38&type=ADMIN_CR">http://www.wipo.int/directory/en/contact.jsp?country_id=38&type=ADMIN_CR</a></p>

        <p>查询世界各地的版权法律的信息，请访问世界知识产权局网站：</p>

        <p><a href="http://www.wipo.int/wipolex/zh">http://www.wipo.int/wipolex/zh</a></p>
    </div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>