<div class="navbar" ng-controller="heaederCtrl">
    <div class="navbar-inner">
        <a class="brand" href="#"><img width="60" height="60" src="img/logo.jpg"/></a>
        <ul class="nav">
            <li class="active"><a href="#/stream">stream</a></li>
        </ul>
        <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Find a sound">
        </form>
        <ul class="nav pull-right">
            <li class="pull-right"><a href="#/profile">profile</a></li>
            <li class="pull-right"><a href="#/upload">upload</a></li>
            <li class="pull-right"><a href="#/logout" ng-click="logout()">logout</a></li>
        </ul>
    </div>
</div>