<style>
    html{overflow-y:scroll}
</style>

<ng-include src="'partials/header.html'"></ng-include>

<div class="row">
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-md-8 col-xs-10" style="padding-top: 0px">
        <div id="tags">
            <div class="row">
                <div class="col-md-6">
                    <div ng-repeat="cate in categories | filter:odd">
                        <div style="padding-top: 30px;">
                            <div class="title_div">
                                <h2 class="title_h2">{{cate.name}}
                                <span class="pull-right" style="font-size: 10px"> <label ng-click="cate.showAll=!cate.showAll">More
                                    <i class="icon-double-angle-right" ng-show="cate.showAll"></i><i class="icon-double-angle-down" ng-show="!cate.showAll"></i></label></span>
                                </h2>
                                <div style="clear: both;"></div>
                            </div>
                            <div>
                                <ul class="tags">
                                    <li ng-repeat="curatedTag in curatedTags | filter:{category.name: cate.name}"  ng-show="cate.showAll || $index<5"
                                         style="padding-right: 25px;padding-bottom: 30px;float: left">
                                        <a  onclick="return false;" ng-click="toogleInterest()" style="background: {{curatedTag.class}};cursor:pointer;">
                                           <span > {{curatedTag.label}} </span>
                                        </a>
                                    </li>
                                    <li style="padding-right: 25px;padding-bottom: 30px;float: left" ng-show="!cate.showAll && curatedTags.length>5">
                                        <i class="icon-ellipsis-horizontal"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-md-6">
                    <div ng-repeat="cate in categories | filter:even">
                        <div style="padding-top: 30px;">
                            <legend>{{cate.name}} <span class="pull-right" style="font-size: 10px"> <label ng-click="cate.showAll=!cate.showAll">More
                                <i class="icon-double-angle-right" ng-show="cate.showAll"></i><i class="icon-double-angle-down" ng-show="!cate.showAll"></i></label></span></legend>
                            <div>
                                <ul class="tags">
                                    <li ng-repeat="curatedTag in curatedTags | filter:{category.name: cate.name}"  ng-show="cate.showAll || $index<5"
                                        style="padding-right: 25px;padding-bottom: 30px;float: left">
                                        <a onclick="return false;" ng-click="toogleInterest()" style="background: {{curatedTag.class}};cursor:pointer;">
                                              <span > {{curatedTag.label}} </span>
                                        </a>
                                    </li>

                                    <li style="padding-right: 25px;padding-bottom: 30px;float: left" ng-show="!cate.showAll && curatedTags.length>5">
                                        <i class="icon-ellipsis-horizontal"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div id="recommand" style="padding-top: 10px;position: relative;">
            <div class="title_div">
                <h2 class="title_h2">推荐音乐人</h2>
            </div>

            <div style="padding:25px {{deviceEnv!='xs'?'10%':'0%'}} 0px {{deviceEnv!='xs'?'10%':'0%'}};">
                <ul class="users_display" style="padding: 0px;">
                    <li ng-repeat="recommendUser in recommendUsers"
                        style="padding: 5px;padding-bottom: 10px">
                        <a href="{{recommendUser.route}}">
                             <img ng-src="{{recommendUser.profile.avatorUrl}}" class="title_link" style="{{deviceEnv=='xs'?'width:100px;height:100px':''}}">
                        </a>
                        <div class="user_alias">
                            {{recommendUser.profile.alias}}
                        </div>
                    </li>
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
        <div ng-if="recommendUsers.length == 0">
            暂无用户推荐
        </div>

        <div style="padding-top: 15px;position: relative">
            <div class="title_div">
                <h2 class="title_h2">推荐声音</h2>
            </div>
            <ng-include src="includePage" autoscroll></ng-include>
        </div>
    </div>
    <div class="col-md-2 col-xs-1"></div>
</div>

<div>
<ng-include src="'partials/footer.html'"></ng-include>
</div>