<style>
    html{overflow-y:scroll}
</style>

<ng-include src="'partials/header.html'"></ng-include>

<div class="container">
    <div id="tags">
        <div class="row-fluid">
            <div class="span6">
                <div ng-repeat="cate in categories | filter:odd">
                    <div style="padding-top: 30px;">
                        <legend>{{cate.name}}</legend>
                        <div style="padding-top: 15px;">
                            <ul class="tags">
                                <li ng-repeat="curatedTag in curatedTags | filter:{category.name: cate.name}"
                                     style="float:left;padding-right: 25px;padding-bottom: 10px;">
                                    <a  onclick="return false;" ng-click="toogleInterest()" style="background: {{curatedTag.class}};cursor:pointer;">
                                       <span style="color:#FFDF00"> {{curatedTag.label}} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <div class="span6">
                <div ng-repeat="cate in categories | filter:even">
                    <div style="padding-top: 30px;">
                        <legend>{{cate.name}}</legend>
                        <div style="padding-top: 15px;">
                            <ul class="tags">
                                <li ng-repeat="curatedTag in curatedTags | filter:{category.name: cate.name}"
                                    style="float:left;padding-right: 25px;padding-bottom: 10px;">
                                    <a   onclick="return false;" ng-click="toogleInterest()" style="background: {{curatedTag.class}};cursor:pointer;">
                                          <span style="color:#FFDF00"> {{curatedTag.label}} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div  class="{{msgClass}}" style="padding-bottom: 10px">
        {{msg}}
    </div>

    <div id="recommand" style="padding-top: 30px">
        <legend>推荐用户</legend>
        <div ng-if="recommendUsers.length > 0">
            <div ng-repeat="recommendUser in recommendUsers" style="float:left" ng-click="toogleFollow()">
                <div style="text-align:center;padding-right: 20px">
                    <div class="user {{recommendUser.class}}">
                        <a href="#" onclick="return false;">
                            <img style="width: 80px;height: 80px" ng-src="{{recommendUser.profile.avatorUrl}}">
                        </a>
                    </div>
                    </a>
                    <div>
                        <a href='{{recommendUser.route}}'>{{recommendUser.profile.alias}}</a>
                    </div>
                </div>
            </div>
            <i style="cursor:pointer" class='button button-small button-rounded button-flat action-button pull-right'
               ng-click="save()">保存</i>
        </div>
    </div>
    <div ng-if="recommendUsers.length == 0">
        暂无用户推荐
    </div>

    <div style="padding-top: 20px">
        <legend>推荐声音</legend>
        <ng-include src="includePage" autoscroll></ng-include>
    </div>
</div>
<div>
<ng-include src="'partials/footer.html'"></ng-include>
</div>