
<div role="main" class="container-fluid">
	<div class="row clear-navbar" style="padding-top: 80px;"></div>

	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->

			Search: <input ng-model="query"> Sort by: <select
				ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="age">Newest</option>
			</select>

		</div>
		<div class="span6">
			<!--Body content-->
			<div id="sound_streams">
			 </div>
			
			  <!-- Script for wave -->
  
			  

		</div>

		<div class="span2">
			<!--Right Side content-->

			<ul class="musics">
				<li
					ng-repeat="music in musics_top | filter:query | orderBy:orderProp">
					<p>
						<a href="#/musics/{{music.id}}" class="thumb"><img
							ng-src="{{music.imageUrl}}"></a>
					</p>
					<p>
						<a href="#/musics/{{music.id}}">{{music.name}}</a>
					</p>
				</li>
			</ul>

		</div>

	</div>
</div>
