<div role="main" class="container-fluid">

    <div class="row-fluid">
        <div class="span11">
            <!--Body content-->
            <div id="sound_streams">
                <div id="sound_{{sound.id}}" class='sound_item'>
                    <div id="sound_art_{{sound.id}}" class='sound_art'>
                        <div id="sound_cover_{{sound.id}}">
                            <div id="sound_cover_ul_{{sound.id}}"  class= 'poster_img'>
                                <a href='#' ><img  ng-src="{{sound.poster}}"></a>
                            </div>
                        </div>
                    </div>

                    <div id="sound_player_{{sound.id}}" class='sound_player'>
                        <div id="sound_player_header_{{sound.id}}" class='sound_player_header'>
                            <div class='sound_player_control'>
                                <i style="cursor:pointer" id='sound_player_button_{{sound.id}}' class='icon-play sound_player_button'  ng-click="togglePause(sound.id)"></i>
                            </div>
                            <div id="sound_summary_{{sound.id}}">
                                <div id="sound_owner_{{sound.id}}">
                                    <a class='sound_owner 'href="{{sound.owner.route}}">{{sound.owner.alias}}</a>
                                </div>
                                <div id="sound_title_{{sound.id}}">
                                    <a class='sound_title' href="{{sound.title.route}}">{{sound.title.alias}}</a>
                                </div>
                            </div>
                        </div>
                        <div id="sound_player_body_{{sound.id}}" class='sound_player_body'>
                            <div id="sound_wave_{{sound.id}}" class='sound_player_wave'>
                            </div>
                        </div>
                        <div id="sound_player_footer_{{sound.id}}" class='sound_player_footer border-light-bottom'>
                            <div id="sound_commentbox_{{sound.id}}">
                                <input type="text" id="sound_commentbox_input_{{sound.id}}" class="input-block-level"  placeholder="Leave your comment...">
                                <input type="hidden" id="sound_comment_point_{{sound.id}}">
                            </div>
                            <a href="#" class="button button-small button-rounded button-flat action-button" onclick="return false;" ng-click="toggleLike(sound.id)"><i class="icon-heart"></i></i> {{sound.soundUserPrefer.likeWording}}</a>
                            <a href="#" class="button button-small button-rounded button-flat action-button" onclick="return false;" ng-click="toggleRepost(sound.id)"><i class="icon-retweet"></i></i> {{sound.soundUserPrefer.repostWording}}</a>
                            <div class="pull-right">
                                <i class="icon-play-sign stat_icon"></i>{{sound.soundSocial.playedCount}}
                                |
                                <i class="icon-heart stat_icon"></i>{{sound.soundSocial.likesCount}}
                                |
                                <i class="icon-retweet stat_icon"></i>{{sound.soundSocial.reportsCount}}
                                |
                                <i class="icon-comment stat_icon"></i>{{sound.soundSocial.commentsCount}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                    </div>
                    <div class="span8">
                        <div class="sound_tags">
                        </div>
                        <div class="sound_description">
                        </div>
                        <div class="sound_comments" style="padding-top: 20px">
                            <div style="padding-bottom: 5px">
                            <i class="icon-comment"></i> {{comments.length}} comments
                             </div>
                            <ul class="ul-nostyle"  ng-repeat="comment in comments">
                                <li class="border-light-top">
                                    <a href="{{comment.owner.route}}" style="float:left;padding-top:10px">
                                         <img src="{{comment.owner.profile.avatorUrl}}" width="40px" height="40px">
                                    </a>
                                    <div class="comment_body">
                                    <div>
                                        <a href="{{comment.owner.route}}">
                                            {{comment.owner.profile.alias}}
                                        </a>
                                        <span style="color:#999; font-size: 12px"> @ {{comment.pointAt}}</span>
                                    </div>
                                    <span style="color:#333;"> {{comment.comment}} </span>
                                    </div>
                                    <div class="pull-right" style="color:#ccc; padding-top: 5px">
                                        <time datatime="{{comment.createdTime}}" style="font-style:italic;">
                                            {{comment.createdTime}}
                                        </time>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </div>
            <!-- Script for wave -->
        </div>

    </div>
</div>