<ng-include src="'partials/header.html'"></ng-include>

<div role="main" class="container-fluid">

<div class="row-fluid">
<div class="span11">
<!--Body content-->
<div id="sound_streams">
<div id="sound_{{sound.id}}" class='sound_single_item'>
    <div id="sound_art_{{sound.id}}" class='sound_art'>
        <div id="sound_cover_{{sound.id}}">
            <div id="sound_cover_ul_{{sound.id}}" class='poster_img'>
                <div class="{{imgUploadMsgClass}}" style="font-size: 10px">
                    <i ng-show="imgUploadMsgClass == 'text-info'"
                       class="icon-spinner icon-spin icon-large"></i>{{ imgUploadMsg}}
                </div>
                <img id="poster_img" ng-src="{{sound.poster}}">

                <div style="padding-top: 5px" ng-show="sound.owner.alias == userService.getCurUserAlias()">
                                  <span ng-show="!isUploadingPoster"
                                        class="button button-small button-rounded button-flat fileinput-button">
                                    <span>上传海报</span>
                                    <input id="poster_upload" type="file" name="file">
                                  </span>

                                    <span ng-click="cancelImageUpload()" id="cancel_img_upload"
                                          ng-show="isUploadingPoster"
                                          class="button button-small button-rounded button-flat fileinput-button">
                                    <i class="icon-ban-circle icon-white"></i>
                                        <span>取消海报</span>
                                  </span>
                </div>
            </div>
        </div>
    </div>

    <div id="sound_player_{{sound.id}}" class='sound_player'>
        <div id="sound_player_header_{{sound.id}}" class='sound_player_header'>
            <div class='sound_player_control'>
                <i style="cursor:pointer" id='sound_player_button_{{sound.id}}'
                   class='icon-play sound_player_button' ng-click="togglePause(sound.id)"></i>
            </div>
            <div id="sound_summary_{{sound.id}}">
                <div id="sound_owner_{{sound.id}}">
                    <a class='sound_owner ' href="{{sound.owner.route}}">{{sound.owner.alias}}</a>
                </div>
                <div id="sound_title_{{sound.id}}">
                                    <span ng-if="sound.title.readonly">
                                        <a class='sound_title' href="{{sound.title.route}}">{{sound.title.alias}}</a>
                                    </span>
                    <input ng-if="!sound.title.readonly" type="text" required class="input-small"
                           ng-model="sound.title.alias"/>
                    <a href="#" ng-if="sound.title.readonly" onclick="return false;"
                       ng-click="editSoundAlias()" ng-show="sound.owner.alias == userService.getCurUserAlias()"
                       style="text-decoration:none;color:black"><i class="icon-edit"></i></a>
                    <a href="#" ng-if="!sound.title.readonly" onclick="return false;"
                       ng-click="editSoundAlias()" ng-show="sound.owner.alias == userService.getCurUserAlias()"
                       style="text-decoration:none;color:black"><i class="icon-save"></i></a>
                </div>
            </div>
        </div>
        <div id="sound_player_body_{{sound.id}}" class='sound_player_body' style="cursor:pointer">
            <div id="sound_wave_{{sound.id}}" class='sound_player_wave' style="position: relative;">
                <div ng-repeat="comment in commentsInsound"
                     style="position: absolute;margin-top:-1;top:71%;left:{{comment.left}};line-height:0px">
                    <div>
                        <img id="sound_comment_in_sound_minor_{{comment.commentId}}"
                             ng-src="{{comment.owner.profile.avatorUrl}}" style="width: 15px;height: 15px"
                             ng-mouseover="onImageHavor()">
                    </div>
                    <div id="sound_comment_in_sound_{{comment.commentId}}" class="hide">
                        <div>
                            <a href="{{comment.owner.route}}" title="{{comment.owner.profile.alias}}"
                               style="width: 35px;"><img
                                    ng-src="{{comment.owner.profile.avatorUrl}}" style="width: 35px"></a>
                        </div>
                        <div style="height: 12px">
                            <label onclick="return false;" ng-click="replyInSound()"><span
                                    style="font-size: 12px;color:#4f4f4f">@{{comment.pointAt}}秒:{{comment.comment}}</span></label>
                        </div>
                    </div>
                </div>
                <canvas id="sound_wave_canvas_{{sound.id}}">
                </canvas>
            </div>
        </div>
        <div id="sound_player_footer_{{sound.id}}" class='sound_player_footer'>
            <div id="sound_commentbox_{{sound.id}}" ng-show="sound.comment.mode !== 'closed'">
                <form ng-submit="comment()" style="margin-bottom:0px; padding-top: 10px">
                    <input type="text" id="sound_commentbox_input_{{sound.id}}" class="input-block-level"
                           ng-model="newComment.comment"
                           placeholder="请留下您的评论...">
                    <input type="hidden" id="sound_comment_point_{{sound.id}}" value="-1" ng-model="newComment.pointAt">
                    <input type="hidden" id="sound_comment_to_{{sound.id}}" ng-model="newComment.toUserAlias">
                </form>
            </div>

            <a href="#" class="button button-small button-rounded button-flat action-button"
               onclick="return false;" ng-click="toggleLike(sound.id)"><i class="icon-heart"></i>
                <span ng-show="sound.soundUserPrefer.like==0">赞之</span></a>
            <a href="#" class="button button-small button-rounded button-flat action-button"
               onclick="return false;" ng-click="toggleRepost(sound.id)"><i
                    class="icon-retweet"></i></i> <span ng-show="sound.soundUserPrefer.repost==0">转之</span></a>
            <a href="#" class="button button-small button-rounded button-flat action-button"
               ng-show="!userService.validateRoleUser()"
               onclick="return false;" ng-click="togglePromote(sound.id)"><i
                    class="icon-star"></i>
                <span ng-show="!sound.priority || sound.priority == 0">优先</span>
            </a>

            <div class="pull-right">
                                 <span ng-show="sound.owner.alias == userService.getCurUserAlias()">
                                    <i class="icon-lock"
                                       ng-show="sound.comment.mode == 'private' && sound.comment.readonly">評論僅自己可見</i>
                                    <i class="icon-unlock-alt"
                                       ng-show="sound.comment.mode == 'public' && sound.comment.readonly">評論所有人可見</i>
                                     <i class="icon-warning-sign"
                                        ng-show="sound.comment.mode == 'closed' && sound.comment.readonly">關閉評論</i>
                                      <select ng-model="sound.comment.mode" ng-show="!sound.comment.readonly"
                                              style="width: 110px">
                                          <option value="private" ng-selected="sound.comment.mode == 'private'">自己可見
                                          </option>
                                          <option value="public" ng-selected="sound.comment.mode == 'public'">所有人可見
                                          </option>
                                          <option value="closed" ng-selected="sound.comment.mode == 'closed'">關閉留言
                                          </option>
                                      </select>

                                    <a href="#" ng-if="sound.comment.readonly"
                                       onclick="return false;"
                                       ng-click="editCommentMode()"
                                       style="text-decoration:none;"><i
                                            class="icon-edit"></i></a>
                                     <a href="#" ng-if="!sound.comment.readonly" onclick="return false;"
                                        ng-click="editCommentMode()"
                                        style="text-decoration:none;"><i class="icon-save"></i></a>
                                    |
                                </span>

                                <span ng-show="sound.owner.alias == userService.getCurUserAlias()">
                                    <i class="icon-lock"
                                       ng-show="sound.status.value == 'private' && sound.status.readonly">私有</i>
                                    <i class="icon-unlock-alt"
                                       ng-show="sound.status.value == 'public' && sound.status.readonly">公开</i>
                                      <select ng-model="sound.status.value" ng-show="!sound.status.readonly"
                                              style="width: 70px">
                                          <option value="private" ng-selected="sound.status.value == 'private'">私有
                                          </option>
                                          <option value="public" ng-selected="sound.status.value == 'public'">公开
                                          </option>
                                      </select>

                                    <a href="#" ng-if="sound.status.readonly"
                                       onclick="return false;"
                                       ng-click="editSoundStatus()"
                                       style="text-decoration:none;"><i
                                            class="icon-edit"></i></a>
                                     <a href="#" ng-if="!sound.status.readonly" onclick="return false;"
                                        ng-click="editSoundStatus()"
                                        style="text-decoration:none;"><i class="icon-save"></i></a>
                                    |
                                </span>
                <i class="icon-play-sign stat_icon"></i>{{sound.soundSocial.playedCount}}
                |
                <i class="icon-heart stat_icon"></i>{{sound.soundSocial.likesCount}}
                |
                <i class="icon-retweet stat_icon"></i>{{sound.soundSocial.reportsCount}}
                |
                <i class="icon-comment stat_icon"></i>{{sound.soundSocial.commentsCount}}
            </div>
        </div>
    </div>
</div>

<div class="row-fluid" style="padding-top: 10px">
<div class="span2">
</div>
<div class="span8">
<div class="sound_tags">
    <div style="padding-bottom: 5px">
        <i class="icon-tags"></i> 声音标签
        <div class="pull-right">
        <form style="margin-bottom:0px; padding-top: 10px" ng-show="sound.owner.alias === userService.getCurUserAlias()">
            <input id="tags" type="text" ng-model="newTag"  class="input-small" placeholder="添加新的标签" style="height: 16px;font-size: 12px">
        </form>
        </div>
    </div>
    <div style="height: 60px;padding-bottom: 10px"  class="border-light-top">
        <ul class="tags" style="padding-top: 10px">
            <li ng-repeat="tag in sound.tags">
                <a href="#/stream/tags/{{tag.label}}">
                    <span ng-show="tag.curated" style="color:#FFDF00">{{tag.label}}</span>
                    <span ng-show="!tag.curated">{{tag.label}}</span>
                </a>
                <span style="padding-left: 3px;cursor:pointer;" ng-click="dettachTag()"
                      ng-show="sound.owner.alias == userService.getCurUserAlias()"><i class="icon-remove"></i></span>
            </li>
        </ul>
    </div>
    <div>

    </div>
</div>
<div class="sound_description">
    <div style="padding-bottom: 5px">
        <i class="icon-headphones"></i> 声音描述
        <a href="#" ng-if="sound.description.readonly" onclick="return false;"
           ng-click="editSoundDescription()" ng-show="sound.owner.alias == userService.getCurUserAlias()"
           class="pull-right"
           style="text-decoration:none;"><i class="icon-edit"></i></a>
        <a href="#" ng-if="!sound.description.readonly" onclick="return false;"
           ng-click="editSoundDescription()" ng-show="sound.owner.alias == userService.getCurUserAlias()"
           class="pull-right"
           style="text-decoration:none;"><i class="icon-save"></i></a>
    </div>
    <div class="border-light-top" style="padding-bottom: 15px">
        <p ng-if="sound.description.context && sound.description.readonly">
            {{sound.description.context}}</p>
        <span ng-if="!sound.description.context && sound.description.readonly">暂无声音描述</span>
        <textarea ng-if="!sound.description.readonly" type="text" required
                  class="input-block-level"
                  ng-model="sound.description.context">
        </textarea>
    </div>
</div>

<div class="tabbable" style="padding-top: 10px">
<ul class="nav nav-tabs" style="margin-bottom:0px;height: 37px">
    <li id="comments_li" class="tab_li" ng-click="changeTarget('comments')"><a href="#comments"
                                                                               data-toggle="tab"
                                                                               onclick="return false;">
        <i class="icon-comment"></i> {{sound.soundSocial.commentsCount}}条评论
    </a></li>
    <li id="likes_li" class="tab_li" ng-click="changeTarget('likes')"><a href="#likes" data-toggle="tab"
                                                                         onclick="return false;">
        <i class="icon-heart"></i> {{sound.soundSocial.likesCount}}人赞
    </a></li>
    <li id="reposts_li" class="tab_li" ng-click="changeTarget('reposts')"><a href="#reposts" data-toggle="tab"
                                                                             onclick="return false;">
        <i class="icon-retweet"></i> {{sound.soundSocial.reportsCount}}人转发
    </a></li>
    <li id="plays_li" class="tab_li" ng-click="changeTarget('plays')"
        ng-show="userService.validateRolePro() || userService.validateRolesPro()"><a href="#plays" data-toggle="tab"
                                                                                     onclick="return false;">
        <i class="icon-play-sign"></i> {{sound.soundSocial.playedCount}}次收听
    </a></li>
    <li id="visits_li" class="tab_li" ng-click="changeTarget('visits')" ng-show="userService.validateRolesPro()"><a
            href="#visits" data-toggle="tab"
            onclick="return false;">
        <i class="icon-eye-open"></i> {{sound.soundSocial.visitsCount}}人访问
    </a></li>
    <li class="pull-right">
        <a href="#" title="刷新评论" onclick="return false;" ng-click="reloadTarget('true')"
           style="text-decoration:none;"><i class="icon-refresh"></i></a>
        </a></li>
</ul>

<div class="tab-content" style="padding-top: 1px;padding-left: 10px;padding-right: 10px">
<div class="tab-pane" id="comments">
    <div id="sound_comments" class="sound_comments">
        <ul class="ul-nostyle" ng-repeat="comment in comments"
            ng-show="sound.comment.mode == 'public' || $scope.sound.owner.alias === UserService.getCurUserAlias()">
            <li class="border-light-bottom-nopadding">
                <a href="{{comment.owner.route}}" style="float:left;padding-top:15px">
                    <img src="{{comment.owner.profile.avatorUrl}}" width="40px" height="40px">
                </a>

                <div class="comment_body">
                    <div style="padding-bottom: 5px">
                        <a href="{{comment.owner.route}}">
                            {{comment.owner.profile.alias}}
                        </a>
                                            <span ng-show="comment.to">
                                                <span style="color:#999; font-size: 12px">@</span>
                                            <a href="{{comment.to.route}}">
                                                {{comment.to.profile.alias}}
                                            </a>
                                            </span>
                            <span style="color:#999; font-size: 12px"
                                  ng-show="comment.pointAt"> @ {{comment.pointAt}}秒  </span>

                        <div class="pull-right">
                            <a href="#" onclick="return false;" ng-click="reply()" title="回复本条评论"
                               ng-show="sound.comment.mode !== 'closed'"
                               style="text-decoration:none;padding-right: 8px"><i
                                    ng-show="!comment.showReply"
                                    class="icon-reply"></i>
                                <i class="icon-chevron-down" ng-show="comment.showReply"></i>
                            </a>
                            <a href="#"
                               ng-if="sound.owner.alias == userService.getCurUserAlias() || comment.owner.profile.alias == userService.getCurUserAlias()"
                               onclick="return false;" ng-click="deleteComment()" title="删除本条评论"
                               style="text-decoration:none;padding-right: 8px"><i
                                    class="icon-trash"></i></a>
                        </div>
                    </div>
                    <span style="color:#333;padding-top: 5px"> {{comment.comment}} </span>

                    <div class="pull-right" style="font-size: 12px">
                        <time datatime="{{comment.createdTime}}"
                              style="font-style:italic;color:gray;">
                            {{comment.createdTime}}
                        </time>
                    </div>
                    <div ng-show="comment.showReply">
                        <form ng-submit="replyComment()" style="margin-bottom:0px; padding-top: 10px">
                            <input type="text" class="input-block-level" style="margin-bottom:0px"
                                   id="sound_comment_reply_input_{{$index}}"
                                   placeholder="@{{comment.owner.profile.alias}}:"
                                   ng-model="comment.reply">
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-show="sound.comment.mode == 'public' && comments.length == 0"
             style="padding-top: 20px;padding-left: 20px;">
            暂无评论
        </div>

        <div ng-show="(sound.comment.mode == 'private' || sound.comment.mode == 'closed') && sound.owner.alias !== userService.getCurUserAlias()"
             style="padding-top: 20px;padding-left: 20px;">
            评论暂不对外开放
        </div>
    </div>
</div>

<div class="tab-pane" id="likes">
    <div style="padding-top: 20px;padding-left: 40px;padding-right: 10px">
        <div ng-repeat="like in likes"
             style="float:left;padding-right: 25px">
            <div style="float: left">
                <a href="{{like.owner.route}}"><img ng-src="{{like.owner.profile.avatorUrl}}"
                                                    style="width: 120px"></a>
            </div>
            <div style="padding-left: 135px">
                <a href="{{like.owner.route}}">{{like.owner.profile.alias}}</a><span
                    style="color: gray;font-size: 10px"> @{{like.createdTime}}</span>

                <div style="padding-top: 10px">
                            <span title="{{like.owner.userSocial.sounds}}条声音" class="ng-binding">{{like.owner.userSocial.sounds}}
                                <i class="icon-music" title="{{like.owner.userSocial.sounds}}条声音"></i></span>
                            <span style="padding-left: 5px" title="关注{{like.owner.userSocial.following}}人"
                                  class="ng-binding">{{like.owner.userSocial.following}}
                                <i class="icon-user" title="关注{{like.owner.userSocial.following}}人"></i></span>
                            <span style="padding-left: 5px" title="{{like.owner.userSocial.followed}}人关注"
                                  class="ng-binding">{{like.owner.userSocial.followed}}
                                <i class="icon-group" title="{{like.owner.userSocial.followed}}人关注"></i></span>
                </div>
                <div style="padding-top: 10px" ng-show="sound.owner.alias != userService.getCurUserAlias()">
                    <a href="#" class="button button-rounded button-flat-primary button-tiny ng-binding"
                       onclick="return false;" ng-click="follow(user.profile.alias)"
                       style="width: 60px">
                        <span ng-show="like.owner.userPrefer.following">已关注</span>
                        <span ng-show="!like.owner.userPrefer.following">关注</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="likes.length == 0" style="padding-left: 20px;">
        暂无赞
    </div>
</div>

<div class="tab-pane" id="reposts">
    <div style="padding-top: 20px;padding-left: 40px;padding-right: 10px">
        <div ng-repeat="repost in reposts"
             style="float:left;padding-right: 25px">
            <div style="float: left">
                <a href="{{repost.owner.route}}"><img ng-src="{{repost.owner.profile.avatorUrl}}"
                                                      style="width: 120px"></a>
            </div>
            <div style="padding-left: 135px">
                <a href="{{repost.owner.route}}">{{repost.owner.profile.alias}}</a><span
                    style="color: gray;font-size: 10px"> @{{repost.createdTime}}</span>

                <div style="padding-top: 10px">
                            <span title="{{repost.owner.userSocial.sounds}}条声音" class="ng-binding">{{repost.owner.userSocial.sounds}}
                                <i class="icon-music" title="{{repost.owner.userSocial.sounds}}条声音"></i></span>
                            <span style="padding-left: 5px" title="关注{{repost.owner.userSocial.following}}人"
                                  class="ng-binding">{{repost.owner.userSocial.following}}
                                <i class="icon-user" title="关注{{repost.owner.userSocial.following}}人"></i></span>
                            <span style="padding-left: 5px" title="{{repost.owner.userSocial.followed}}人关注"
                                  class="ng-binding">{{repost.owner.userSocial.followed}}
                                <i class="icon-group" title="{{repost.owner.userSocial.followed}}人关注"></i></span>
                </div>
                <div style="padding-top: 10px" ng-show="sound.owner.alias == userService.getCurUserAlias()">
                    <a href="#" class="button button-rounded button-flat-primary button-tiny ng-binding"
                       onclick="return false;" ng-click="follow(user.profile.alias)"
                       style="width: 60px">
                        <span ng-show="repost.owner.userPrefer.following">已关注</span>
                        <span ng-show="!repost.owner.userPrefer.following">关注</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="reposts.length == 0" style="padding-left: 20px;">
        暂无转发
    </div>
</div>

<div class="tab-pane" id="plays">
    <div style="padding-top: 20px;padding-left: 40px;padding-right: 10px">
        <div ng-repeat="play in plays"
             style="float:left;padding-right: 25px">
            <div style="float: left">
                <a href="{{play.owner.route}}"><img ng-src="{{play.owner.profile.avatorUrl}}"
                                                    style="width: 120px"></a>
            </div>
            <div style="padding-left: 135px">
                <a href="{{play.owner.route}}">{{play.owner.profile.alias}}</a><span
                    style="color: gray;font-size: 10px"> @{{play.createdTime}}</span>

                <div style="padding-top: 10px">
                            <span title="{{play.owner.userSocial.sounds}}条声音" class="ng-binding">{{play.owner.userSocial.sounds}}
                                <i class="icon-music" title="{{play.owner.userSocial.sounds}}条声音"></i></span>
                            <span style="padding-left: 5px" title="关注{{play.owner.userSocial.following}}人"
                                  class="ng-binding">{{play.owner.userSocial.following}}
                                <i class="icon-user" title="关注{{play.owner.userSocial.following}}人"></i></span>
                            <span style="padding-left: 5px" title="{{play.owner.userSocial.followed}}人关注"
                                  class="ng-binding">{{play.owner.userSocial.followed}}
                                <i class="icon-group" title="{{play.owner.userSocial.followed}}人关注"></i></span>
                </div>
                <div style="padding-top: 10px" ng-show="sound.owner.alias != userService.getCurUserAlias()">
                    <a href="#" class="button button-rounded button-flat-primary button-tiny ng-binding"
                       onclick="return false;" ng-click="follow(user.profile.alias)"
                       style="width: 60px">
                        <span ng-show="play.owner.userPrefer.following">已关注</span>
                        <span ng-show="!play.owner.userPrefer.following">关注</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="plays.length == 0" style="padding-left: 20px;">
        暂无收听
    </div>
</div>

<div class="tab-pane" id="visits">
    <div style="padding-top: 20px;padding-left: 40px;padding-right: 10px">
        <div ng-repeat="visit in visits"
             style="float:left;padding-right: 25px">
            <div style="float: left">
                <a href="{{visit.owner.route}}"><img ng-src="{{visit.owner.profile.avatorUrl}}"
                                                     style="width: 120px"></a>
            </div>
            <div style="padding-left: 135px">
                <a href="{{visit.owner.route}}">{{visit.owner.profile.alias}}</a><span
                    style="color: gray;font-size: 10px"> @{{visit.createdTime}}</span>

                <div style="padding-top: 10px">
                            <span title="{{visit.owner.userSocial.sounds}}条声音" class="ng-binding">{{visit.owner.userSocial.sounds}}
                                <i class="icon-music" title="{{visit.owner.userSocial.sounds}}条声音"></i></span>
                            <span style="padding-left: 5px" title="关注{{visit.owner.userSocial.following}}人"
                                  class="ng-binding">{{visit.owner.userSocial.following}}
                                <i class="icon-user" title="关注{{visit.owner.userSocial.following}}人"></i></span>
                            <span style="padding-left: 5px" title="{{visit.owner.userSocial.followed}}人关注"
                                  class="ng-binding">{{visit.owner.userSocial.followed}}
                                <i class="icon-group" title="{{visit.owner.userSocial.followed}}人关注"></i></span>
                </div>
                <div style="padding-top: 10px" ng-show="sound.owner.alias != userService.getCurUserAlias()">
                    <a href="#" class="button button-rounded button-flat-primary button-tiny ng-binding"
                       onclick="return false;" ng-click="follow(user.profile.alias)"
                       style="width: 60px">
                        <span ng-show="visit.owner.userPrefer.following">已关注</span>
                        <span ng-show="!visit.owner.userPrefer.following">关注</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="visits.length == 0" style="padding-left: 20px;">
        暂无访问
    </div>
</div>
</div>
</div>

<div class="{{loadClass}}" style="text-align: center">
    <i class="icon-spinner icon-spin icon-large"></i> 努力加载中...
</div>
</div>
<div class="span3">
</div>
</div>
</div>
<!-- Script for wave -->
</div>

</div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>