<ng-include src="'partials/header.html'"></ng-include>
<div role="main" class="container-fluid">

    <div class="row-fluid">
        <div class="span2" ng-controller="userBasicController">
            <div style="padding-top: 20px;padding-left: 25px">
                <img src="{{user.profile.avatorUrl}}" width="200px" height="200px">

                <div style="padding-top: 10px;"><span class="userInfo__title">{{user.profile.alias}}</span> <span  ng-show="user.profile.city"
                        style="color:#999;">@{{user.profile.city}}</span></div>
                <div style="color:#999;margin-bottom:20px;margin-top:20px;font-size:16px;">
                    {{user.profile.description}}
                </div>

                <!-- basic social info-->
                <div style="padding-bottom: 25px">
                    <div style="padding-bottom: 10px">
                        <i class="icon-music icon-large" title="{{user.userSocial.sounds}} sounds"
                           style="font-size: 18px"><span style="padding-left:10px; padding-right: 10px"
                                                         title="{{user.userSocial.sounds}} sounds">{{user.userSocial.sounds}}</span></i>|
                        <i class="icon-retweet icon-large" title="{{user.userSocial.reposts}} reposts"
                           style="padding-left:10px;font-size: 18px;"><span
                                style="padding-left:10px; padding-right: 10px"
                                title="{{user.userSocial.reposts}} reposts">{{user.userSocial.reposts}}</span></i>
                    </div>
                    <div>
                        <i class="icon-user icon-large" title="following {{user.userSocial.following}}"
                           style="font-size: 18px"><span style="padding-left:10px; padding-right: 10px"
                                                         title="following {{user.userSocial.following}}">{{user.userSocial.following}}</span></i>|
                        <i class="icon-group icon-large" title="{{user.userSocial.followed}} followers"
                           style="padding-left:10px;font-size: 18px;"><span
                                style="padding-left:10px; padding-right: 10px"
                                title="{{user.userSocial.followed}} followers">{{user.userSocial.followed}}</span></i>
                    </div>
                </div>

                <!-- social action-->
                <div style="padding-bottom: 25px"  ng-class="{true: 'hide', false: ''}[user.isCurrent]">
                    <a href="#" class="button button-rounded button-flat-primary button-small" onclick="return false;"
                       ng-click="follow(user.profile.alias)">{{user.userPrefer.followingString}}</a>
                    <a href="#" class="button button-rounded button-flat-highlight button-small"
                       onclick="return false;">Share</a>
                </div>

                <!-- external  -->
                <div>
                    <span ng-repeat="site in user.external.sites | filter:{ url: '.' }">
                        <i title="{{site.displayName}}"> <a href="{{site.url}}"><img src="img/logo/{{site.name}}.png"
                                                                                     class="external_logo"/></a> </i>
                    </span>
                </div>
            </div>
        </div>

        <div id="sound_streams" class="span8">
            <!--Body content-->
            <div ng-repeat="sound in sounds">
                <div id="sound_{{sound.id}}" class='sound_item'>
                    <div id="sound_art_{{sound.id}}" class='sound_art'>
                        <div id="sound_cover_{{sound.id}}">
                            <div id="sound_cover_ul_{{sound.id}}" class='poster_img'>
                                <img ng-src="{{sound.poster}}">
                            </div>
                        </div>
                    </div>

                    <div id="sound_player_{{sound.id}}" class='sound_player'>
                        <div id="sound_player_header_{{sound.id}}" class='sound_player_header'>
                            <div class='sound_player_control'>
                                <i style="cursor:pointer" id='sound_player_button_{{sound.id}}'
                                   class='icon-play sound_player_button' ng-click="togglePause(sound.id)"></i>
                            </div>
                            <div id="sound_summary_{{sound.id}}">
                                <div id="sound_owner_{{sound.id}}">
                                    <a class='sound_owner' href="{{sound.owner.route}}">{{sound.owner.alias}}</a>
                                </div>
                                <div id="sound_title_{{sound.id}}">
                                    <a class='sound_title' href="{{sound.title.route}}">{{sound.title.alias}}</a>
                                </div>
                            </div>
                        </div>
                        <div id="sound_player_body_{{sound.id}}" class='sound_player_body'>
                            <div id="sound_wave_{{sound.id}}" class='sound_player_wave'>
                            </div>
                        </div>
                        <div id="sound_player_footer_{{sound.id}}" class='sound_player_footer border-light-bottom'>
                            <div id="sound_commentbox_{{sound.id}}" class="hide">
                                <input type="text" id="sound_commentbox_input_{{sound.id}}" class="input-block-level"
                                       placeholder="请留下您的评论...">
                                <input type="hidden" id="sound_comment_point_{{sound.id}}">
                            </div>
                            <a href="#" class="button button-small button-rounded  button-flat action-button"
                               onclick="return false;" ng-click="toggleLike(sound.id)"><i class="icon-heart"></i></i>
                                {{sound.soundUserPrefer.likeWording}}</a>
                            <a href="#" class="button button-small button-rounded  button-flat action-button"
                               onclick="return false;" ng-click="toggleRepost(sound.id)"><i
                                    class="icon-retweet"></i></i> {{sound.soundUserPrefer.repostWording}}</a>
                            <a href="#" class="button button-small button-rounded button-flat action-button"
                               ng-show="isOwner()"
                               onclick="return false;" ng-click="delete()"><i
                                    class="icon-trash"></i></i> Delete</a>

                            <div class="pull-right" style="margin-top: 8px">
                                <i class="icon-play-sign stat_icon"></i><span id="play_count_{{sound.id}}">{{sound.soundSocial.playedCount}}</span>
                                |
                                <i class="icon-heart stat_icon"></i>{{sound.soundSocial.likesCount}}
                                |
                                <i class="icon-retweet stat_icon"></i>{{sound.soundSocial.reportsCount}}
                                |
                                <i class="icon-comment stat_icon"></i>{{sound.soundSocial.commentsCount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="{{loadClass}}" style="text-align: center">
                <i class="icon-spinner icon-spin icon-large"></i> 努力加载中...
            </div>

            <div class="{{noSoundMsg}}" style="position:absolute; top:40%; left:40%;">
                您还没有自己的音乐流，<a href="index.html#/upload">上传音乐</a>或<a href="index.html#/interest">发现兴趣</a>， 创建属于自己的音乐流。
            </div>
            <div class="{{noSearchMsgOther}}" style="position:absolute; top:40%; left:40%;">
                {{curUser}}还未上传或转发声音
            </div>
        </div>

        <div class="span2" ng-controller="userSocialController">
            <div>
                <legend style="font-size: 18px"><i class="icon-group icon-large" title="3 followers"
                                                   style="padding-left:10px;font-size: 18px;"></i>
                    他关注的人({{user.userSocial.following}})
                </legend>
                <div ng-repeat="user in followed" style="float:left; padding-right: 8px">
                    <div style="text-align:center;">
                        <a href="#" onclick="return false;">
                            <img style="width: 60px;height: 60px" ng-src="{{user.profile.avatorUrl}}">
                        </a>
                        </a>
                        <div>
                            <a href='{{user.route}}'>{{user.profile.alias}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <legend style="font-size: 18px"><i class="icon-user icon-large" title="3 followers"
                                                   style="padding-left:10px;font-size: 18px;"></i>
                    关注他的人({{user.userSocial.followed}})
                </legend>
                <div ng-repeat="user in following" style="float:left; padding-right: 8px">
                    <div style="text-align:center;">
                        <a href="#" onclick="return false;">
                            <img style="width: 60px;height: 60px" ng-src="{{user.profile.avatorUrl}}">
                        </a>
                        </a>
                        <div>
                            <a href='{{user.route}}'>{{user.profile.alias}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>