<form name="login" class="form-horizontal" style="padding-top: 10px;" ng-controller="loginCtrl">
    <div class="hidden-xs" style="padding-top: 25px"></div>
    <div class="form-group" style="margin-bottom: 5px">
        <b>WOWOICE</b>登陆
    </div>
    <div class="form-group">
        <div class="controls {{loginMsgClass}}" style="margin-left: 40px;font-size: 12px">
            <div>
                <div ng-show="error == 'USER_404'">
                    用户不存在
                </div>
                <div ng-show="error == 'PASSWORD' || error =='PASSWORD_VERIFY'">
                    密码错误
                </div>
                <div ng-show="error == 'VERIFY_CODE'">
                    验证码错误
                </div>
                <div ng-show="error == 'ERROR'">
                    登陆失败，请稍后再试
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" id="inputEmail" class="form-control" placeholder="邮箱/用户名"
                       ng-model="userId" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" id="inputPassword" class="form-control"
                       placeholder="密码"
                       ng-model="password" required>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="showVerify">
        <img style="padding-left: 20px"
             ng-src="{{config.service.url_noescp + '/auth/verify/image?refesh=' + refresh}}"
             ng-click="refresh=!refresh" title="看不清单击更换验证码">

        <div class="controls">
            <input type="text" class="form-control" id="verifyCode" name="verifyCode"
                   placeholder="验证码" ng-model="verifyCode">
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <div style="color: gray; font-size: 12px">
                <span><input type="checkbox" ng-model="rememberUser">  保持登录状态</span>
                <a href="guest/forgetPass" class="pull-right">忘记密码</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <button type="submit" ng-disabled="login.$invalid"
                    class="button glow button-flat-primary form-control"
                    ng-click="refresh=!refresh;toLogin()">登陆
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <div style="color: gray; font-size: 12px">
                还没有注册WOWOICE?<a href="guest/register">立即注册！</a>
            </div>
        </div>
        <div class="hidden-xs" style="padding-top: 10px"></div>
    </div>
    <div class="form-group" style="padding-top: 5px;margin-bottom: 5px">
        <div class="controls"
             style="border-top-color:#F2F2F2;border-top-style:solid;border-top-width:1px">
            <div style="margin-top: 5px">
                <a href="#" title="新浪微博账号登陆" style="text-decoration:none;"
                   ng-click="weiboLogin()"
                   onclick="return false;" class="external-logo">
                    <i class="icon-weibo icon-2x"></i>
                </a>
                <a href="#" title="腾讯QQ账号登陆"
                   style="text-decoration:none;padding-left: 10px;"
                   ng-click="qqLogin()"
                   onclick="return false;" class="external-logo">
                    <img src="img/qq.svg" class="qq_login_log" style="display: none" svg/>
                </a>
                <a href="" title="人人账号登陆" style="text-decoration:none;padding-left: 15px"
                   class="external-logo hide"><i
                        class="icon-renren icon-2x"></i></a>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#F7F7F8;background-attachment: scroll;background-clip: border-box;background-image: url(img/footer_top_bg.jpg) ;
            background-position:top center; background-repeat:no-repeat;background-origin: padding-box;">
        <p align="center"
           style="font-size: 12px;color: gray;background-clip:border-box;background-size:auto;padding-bottom: 5px;padding-top: 10px;">
            Copyright © 2013 WOWOICE
            <a href="#comms" onclick="return false;" style="padding-left: 25px"
               data-toggle="modal">联系我们</a>
            <span style="padding-left: 30px" class="hidden-xs">沪ICP备13042199号-2</span>
        </p>
    </div>
</form>

<div id="comms" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form style="margin-bottom: 0px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <b style="font-size: 21px">联系我们</b>
                </div>

                <div class="modal-body row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-10">
                        <label><i class="icon-envelope"></i>
                                <span style="padding-left: 15px"><a
                                        href="mailto:communications@wowoice.com">communications@wowoice.com</a></span></label>
                    </div>
                    <!--<div>-->
                    <!--<label><i class="icon-weibo"></i><span style="padding-left: 18px"><a-->
                    <!--href="http://weibo.com/wowoice"-->
                    <!--target="_blank">wowoice</a></span></label>-->
                    <!--</div>-->
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>