<ng-include src="'partials/header.html'"></ng-include>

<div class="container">
    <div style="padding-bottom: 30px">
        <legend>WOWOICE常见问题解答</legend>
        <ul>
            <li><a href="#sound-upload-failure">声音上传失败可能是因为哪些问题？</a></li>
            <li><a href="#sound-processing-forever">为什么我上传之后的歌曲的波形一直处于处理中状态？</a></li>
            <li><a href="#space-is-not-enough">我已经把音频的上传空间撑满了，该怎么办？</a></li>
            <li><a href="#how-long-to-listen-sound-uploaded">我的音乐上传之后过多久才能听？</a></li>
            <li><a href="#vip-is-good">成为wowoice的VIP有什么优惠和特权？</a></li>
            <li><a href="#comment-in-detail">我觉得某个好声音的一个小节唱的蛮好的，该怎么标注出来评论？</a></li>
            <li><a href="#forget-username-password">如果登录名或者密码了怎么办？</a></li>
            <li><a href="#how-to-search">如何搜索某个用户或者是某一首歌？</a></li>
            <li><a href="#how-to-sync-other-site-sound">如何同步其他网站的音频？</a></li>
            <li><a href="#how-to-customize-my-page">我能自定义个人主页的样式吗？</a></li>
        </ul>
    </div>

    <div style="padding-bottom: 30px">
        <p name="sound-upload-failure" style="font-size: 22px">声音上传失败可能是因为哪些问题？</p>

        <p style="font-size: 14px">
            声音上传失败的话应该会有一封私信发给你，在右上角的的顶部的工具条，有一个信封一样的图标。里面会有出错的具体原因。主要原因有以下几种：</p>

        <p style="font-size: 14px">1. 你上传的文件可能已经损坏。或者是wowoice不支持的格式。</p>

        <p style="font-size: 14px">2. 你上传的文件可能并非是你的原创音频，最好将音频文件中的作者改成和自己用户名或者真实姓名一致的名称。相关的版权问题可以参考<a
                href="http://www.wowoice.com/copyright">Wowoice版权说明</a>。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="sound-processing-forever" style="font-size: 22px">为什么我上传之后的歌曲的波形一直处于处理中状态？</p>

        <p style="font-size: 14px">
            由于每首歌上传之后wowoice后台会处理整个音频的波形信息，所以会需要处理一些时间。正常情况可以在2分钟之内完成。如果很长时间都没处理好，有可能是服务器太繁忙了。网站的管理员会不断地查看长久没处理好的文件，及时做出处理。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="space-is-not-enough" style="font-size: 22px">我已经把音频的上传空间撑满了，该怎么办？</p>

        <p style="font-size: 14px">在未经版权所有人授权的情况下对版权作品的使用都有可能造成版权侵权-例如复制，上传到互联网等。避免侵权最为有效和简单的方式就是确保不要使用任何他人的作品。
            如果您使用他人的作品，请确保您已获得必要的授权，如付费的授权证书等形式。如果您对您的行为是否侵权存在疑虑，如您仅使用某件作品中的一小部分，请咨询法律部门了解详情。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="how-long-to-listen-sound-uploaded" style="font-size: 22px">我的音乐上传之后过多久才能听？</p>

        <p style="font-size: 14px">你上传之后的音频是立马就可以播放的，虽然可能短时间内会显示正在处理中，但是这是对波形的处理，不影响播放。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="vip-is-good" style="font-size: 22px">成为wowoice的VIP有什么优惠和特权？</p>

        <p style="font-size: 14px">在未经版权所有人授权的情况下对版权作品的使用都有可能造成版权侵权-例如复制，上传到互联网等。避免侵权最为有效和简单的方式就是确保不要使用任何他人的作品。
            如果您使用他人的作品，请确保您已获得必要的授权，如付费的授权证书等形式。如果您对您的行为是否侵权存在疑虑，如您仅使用某件作品中的一小部分，请咨询法律部门了解详情。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="comment-in-detail" style="font-size: 22px">我觉得某个好声音的一个小节唱的蛮好的，该怎么标注出来评论？</p>

        <p style="font-size: 14px">在未经版权所有人授权的情况下对版权作品的使用都有可能造成版权侵权-例如复制，上传到互联网等。避免侵权最为有效和简单的方式就是确保不要使用任何他人的作品。
            如果您使用他人的作品，请确保您已获得必要的授权，如付费的授权证书等形式。如果您对您的行为是否侵权存在疑虑，如您仅使用某件作品中的一小部分，请咨询法律部门了解详情。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="forget-username-password" style="font-size: 22px">如果登录名或者密码了怎么办？</p>

        <p style="font-size: 14px">如果你忘记了密码但是知道注册时的邮箱，可以在登录注册的窗口点击“忘记密码”的链接，或者直接进入
            <a href="http://www.wowoice.com/guest/forgetPass">重置密码页面</a>填写邮箱地址，我们会发送一个重置密码的链接到您的邮箱，你可以通过该链接重置你的密码。
        如果您也忘记了注册的邮箱，那么请发私信给管理员，我们会协助帮您找回帐号的。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="how-to-sync-other-site-sound" style="font-size: 22px">如何同步其他网站的音频？</p>

        <p style="font-size: 14px">在未经版权所有人授权的情况下对版权作品的使用都有可能造成版权侵权-例如复制，上传到互联网等。避免侵权最为有效和简单的方式就是确保不要使用任何他人的作品。
            如果您使用他人的作品，请确保您已获得必要的授权，如付费的授权证书等形式。如果您对您的行为是否侵权存在疑虑，如您仅使用某件作品中的一小部分，请咨询法律部门了解详情。</p>
    </div>

    <div style="padding-bottom: 30px">
        <p name="how-to-customize-my-page" style="font-size: 22px">我能自定义个人主页的样式吗？</p>

        <p style="font-size: 14px">在未经版权所有人授权的情况下对版权作品的使用都有可能造成版权侵权-例如复制，上传到互联网等。避免侵权最为有效和简单的方式就是确保不要使用任何他人的作品。
            如果您使用他人的作品，请确保您已获得必要的授权，如付费的授权证书等形式。如果您对您的行为是否侵权存在疑虑，如您仅使用某件作品中的一小部分，请咨询法律部门了解详情。</p>
    </div>

</div>

<ng-include src="'partials/footer.html'"></ng-include>