<div id="login_div"   ng-controller="loginPageCtrl"
     style="background-image: url('img/home.jpg');background-position:top center; background-repeat:no-repeat;height:100%">
    <div>
        <div class="container">
            <div style="background-image: url(''); background-repeat:no-repeat;height: 40px" class="hidden-xs">
            </div>
            <div class="row" style="background-color:white">
                <div class="col-md-8 hidden-xs" style="background-color:#FAFAFA">
                    <div style="background-color:#FAFAFA;border-bottom-color:#E6E6E6;border-bottom-style:solid;border-bottom-width:1px;color:#333;font-size:24px;
                padding-left:30px;padding-bottom:17px;padding-top:17px;font-style:italic;display:block;line-height:32px">
                        分享声音，从这里开始
                    <span style="font-size: 13px;padding-left: 130px">
                     还没有WOWOICE账号？
                    <a type="submit"
                       class="button glow button-flat-highlight button-small"
                       href="guest/register"><b>马上注册</b>
                    </a>
                    </span>
                    </div>
                    <div style="padding: 30px;padding-bottom: 50px">
                        <img src="img/voice_large.jpg" class="img-responsive"/>
                    </div>
                </div>

                <div class="col-md-4" style="height: auto">
                    <div class="row">
                        <div class="col-xs-1 col-md-2"></div>
                        <div class="col-xs-10 col-md-8">
                            <div ng-include src="'partials/forms/login.html'"></div>
                        </div>
                        <div class="col-xs-1 col-md-2"></div>
                    </div>
                </div>
            </div>

            <div class="row" style="background-color:#F7F7F8;background-attachment: scroll;background-clip: border-box;background-image: url(img/footer_top_bg.jpg) ;
            background-position:top center; background-repeat:no-repeat;background-origin: padding-box;">
                <p align="center"
                   style="font-size: 12px;color: gray;background-clip:border-box;background-size:auto;padding-bottom: 5px;padding-top: 10px;">
                    Copyright © 2013 WOWOICE
                    <a href="#comms" onclick="return false;" style="padding-left: 25px"
                       data-toggle="modal">联系我们</a>
                    <span style="padding-left: 30px" class="hidden-xs">沪ICP备13042199号-2</span>
                </p>
            </div>
        </div>
    </div>

    <div id="comms" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form style="margin-bottom: 0px">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <b style="font-size: 21px">联系我们</b>
                    </div>

                    <div class="modal-body row">
                        <div class="col-md-2"></div>
                        <div class="col-xs-12 col-md-10">
                            <label><i class="icon-envelope"></i>
                                <span style="padding-left: 15px"><a
                                    href="mailto:communications@wowoice.com">communications@wowoice.com</a></span></label>
                        </div>
                        <!--<div>-->
                            <!--<label><i class="icon-weibo"></i><span style="padding-left: 18px"><a-->
                                    <!--href="http://weibo.com/wowoice"-->
                                    <!--target="_blank">wowoice</a></span></label>-->
                        <!--</div>-->
                    </div>

                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="blocker" class="modal fade" data-backdrop="static" data-keyboard="false">
        <form name="blocker" style="margin-bottom: 0px">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <b id="myModalLabel" style="font-size: 21px">温馨提示</b>
                    </div>
                    <div class="modal-body" style="padding-left: 40px">
                        为了提供更好的用户体验，本网站暂不支持IE8及IE8以下浏览器，请使用Chrome,Firefox或IE9及以上浏览器，敬请谅解。
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
